*,
*::before,
*::after {
    box-sizing: border-box;
}
.container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  /* Растягиваем body по высоте html */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background: blue;
}

main {
  background: red;
}

footer {
  background: black;
}



