*,
*::before,
*::after {
    box-sizing: border-box;
}
.container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #161D3C;
  text-align: center;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}


