*,
*::before,
*::after {
    box-sizing: border-box;
}
.container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  border: none;
  background: transparent;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}


