@media (max-width: 1450px) {
  .chat-widget__link {
    bottom: 100px;
    overflow: hidden;
  }
}
@media (max-width: 1200px) {
  .hamburger {
    transform: translateY(-200%);
    position: absolute;
    max-width: 200px;
    background: #fff;
    z-index: 999;
    padding: 12px 20px;
    margin-bottom: 40px;
    border-radius: 4px;
    &--padding {
      padding-bottom: 32px;
    }
  }
  .hamburger--active {
    transform: translateY(0%);
    flex-direction: column;
    top: 130px;
    right: 30px;
  }
  .menu {
    flex-direction: column;
    margin: 0;
    &__item {
      display: block;
      width: 100%;
      &:nth-child(3) {
        margin-bottom: 60px;
      }
    }
    &__link {
      display: block;
      line-height: 160%;
      &:first-child {
        margin-bottom: 8px;
      }
    }
    &__link-arrow {
      right: 62px;
      top: 0;
    }
    &__link-underline--active {
      top: 20px;
    }
    &__link-arrow--product {
      right: 80px;
    }
    &__item--disabled {
      display: none;
    }
    &__btn-icon {
      width: 800px;
    }
   }
  .nav {
    &__btn {
      display: block;
      position: absolute;
      right: 20px;
    }
  }
  .buttons {
    &__button {
      max-width: 132px;
    }
    &__search-button::before {
      top: -53px;
      left: 0;
    }
    &__search-input--active  {
      left: 0;
      top: -53px;
      width: 160px;
    }
    &__search-close--active {
      left: 78px;
      top: -53px;
    }
  }
  .dropdown-content {
    position: initial;
    box-shadow: none;
    margin-bottom: 4px;
    &__right-inner, &__icon-wrapper--active, &__item-arrow-right {
      display: none;
    }
    &__item {
      padding: 0;
      &::before {
        display: none;
      }
    }
    &__item-wrapper {
      padding: 0;
    }
    &__item-title {
      color: #9498A9;
      line-height: 160%;
      margin-bottom: 4px;
      &:hover {
        color: #374eac;
      }
    }
    &__item-wrapper--active {
      background: transparent;
    }
    &__item--hidden{
      display: none;
    }
    &__item-title-active {
      display: none;
    }
    &__item-icon {
      display: none;
    }
    &__item-text {
      display: none;
    }
  }
  .hero {
    &__overlay {
      display: none;
    }
  }
  .trustedBy {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 115px;
    grid-row-gap: 45px;
    & span {
      text-align: left;
    }
  }
}
@media (max-width: 1000px) {
  .hero {
    padding: 143px 0 50px;
    &__title {
      font-size: 30px;
      line-height: 40px;
      width: 400px;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 12px;
      width: 490px;
      margin-bottom: 15px;
    }
    &__button {
      margin-bottom: 40px;
    }
  }
  .office-bg, .elipse, .green-elipse, .white-elipse {
    display: none;
  }
  .office-img {
    justify-content: center;
    height: 230px;
    &__left, &__right {
      height: 225px;
    }
  }
  .office-img--mobile {
    display: flex;
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .trustedBy {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
@media (max-width: 650px) {
  .hamburger {
    max-width: 134px;
  }
  .menu {
    &__link {
      font-size: 10px;
    }
    &__link-arrow {
      right: 15px;
      top: -3px;
    }
    &__link-arrow--product {
      right: 20px;
      top: -4px;
    }
    &__link-underline--active {
      top: 19px;
    }
  }
  .dropdown-content {
    min-width: 105px;
    &__item-title {
      font-size: 8px;
    }
  }
  .office-img {
    height: auto;
    &__center {
      display: flex;
      margin-bottom: 30px;
    }
    &__left, &__right {
      display: none;
    }
  }
  .buttons {
    &__search-input--active {
      width: 96px;
      &::placeholder {
        color: white;
      }
    }
    &__search-close {
      left: 45px;
      top: -53px;
    }
    &__button {
      font-size: 8px;
    }
  }
}
@media (max-width: 500px) {
  .nav {
    margin-left: 10px;
  }
  .hero {
    padding: 153px 0 50px;
    &__title {
      width: 390px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 14px;
      color: #92989D;
      width: 280px;
      margin-bottom: 20px;
    }
    &__button {
      padding: 5px 20px;
      font-size: 10px;
      margin-bottom: 60px;
    }
  }
  .office-img {
    margin-bottom: 10px;
  }
  .trustedBy {
    font-size: 14px;
    color: #92989D;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    & span {
      width: 65px;
    }
  }
}
@media (max-width: 430px) {

}