.one-place {
  padding: 100px 0 130px;
  text-align: center;
  &__text {
    color: #9498A9;
    line-height: 32px;
    margin-bottom: 165px;
  }
  &__puzzle {
    position: relative;
    height: 531px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__puzzle-img--3-wrapper {
    width: 155px;
    height: 135px;
    position: absolute;
    top: 48px;
    right: 304px;
    opacity: 0.5;
    z-index: 99;
  }
  &__puzzle--drop-left {
    &:hover {
      display: block;
    }
  }
  &__puzzle-img {
    position: absolute;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
    &-1 {
      top: 0;
      left: 166px;
    }
    &-2 {
      top: 81px;
      left: 374px;
    }
    &-3 {
      top: 44px;
      right: 334px;
      opacity: 0.5;
    }
    &-4 {
      top: 90px;
      right: 100px;
    }
    &-5 {
      top: 130px;
      left: 0;
    }
    &-6 {
      top: 180px;
      left: 164px;
    }
    &-7 {
      right: 178px;
      bottom: 130px;
    }
    &-8 {
      right: 0;
      bottom: 128px;
    }
    &-9 {
      left: 150px;
      bottom: 17px;
    }
    &-10 {
      left: 325px;
      bottom: 50px;
    }
    &-11 {
      right: 379px;
      bottom: 48px;
    }
    &-12 {
      right: 160px;
      bottom: 0;
    }
  }
  &__puzzle-folded {
    display: none;
    position: absolute;
  }
  &__TMS-info {
    padding: 20px;
    position: absolute;
    top: 50px;
    right: 49px;
    background: #F2F3F6;
    border-radius: 8px;
    z-index: 9;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #9498A9;
    text-align: left;
    margin-bottom: 8px;
    display: none;
    &::before {
      content: '';
      position: absolute;
      background: url("../img/TMS-arrow.svg");
      width: 15px;
      height: 16px;
      left: -13px;
    }
  }
  &__TMS-info--active {
    display: block;
    &:hover {
      opacity: 1;
    }
  }
  &__TMS-info-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  &__TMS-info-text {
    font-size: 14px;
    text-transform: none;
    width: 228px;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 140%;
  }
  &__TMS-info-link {
    color: #374EAC;
    font-weight: 400;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background: url("../img/arrow-down.svg");
      transform: rotate(-90deg);
      top: 4px;
      right: -24px;
      width: 20px;
      height: 20px;
    }
  }
  &__btn {
    background: #374EAC;
    border: 2px solid #374EAC;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 23px;
    padding: 7px 140px;
    line-height: 43px;
    z-index: 999;
    &:hover {
      background: #F2F3F6;
      color: #374eac;
    }
  }
}
