body {
  font-family: 'Inter', sans-serif;
  color: #161D3C;
  font-size: 20px;
  font-weight: 400;
}
.container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #161D3C;
  text-align: center;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  border: none;
  background: transparent;
}
* {
  &:hover {
    transition: all 0.5s ease-in-out;
  }
}
@import 'global';
@import 'reset';
@import 'fonts';
@import 'header';
@import 'hero';
@import 'items';
@import 'one-place';
@import 'results';
@import 'footer';
@import 'plans';
@import 'reviews';

@import 'media';